.dropdown-container {
	font-family: "Karla Medium";
	font-weight: 500;
	font-size: 24px;
	line-height: 28px;
	text-align: center;
	width: 70%;
	margin-top: 32px;
	position: relative;
}

.dropdown-container span {
	margin-bottom: 36px;
	width: 100%;
	display: block;
}

.dropdown-select select {
	appearance: none;
	width: 90%;
	cursor: pointer;
	background: #FFFFFF;
	border: 1px solid #000000;
	border-radius: 9px;
	height: 67px;
	padding: 0px 10px;
}

.dropdown-select::after {
	content: "▼";
	right: 8%;
	bottom: 11%;
  	position: absolute;
}

.form-choices {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
}

.form-choices span {
	font-weight: 700;
	margin-bottom: 30px;
	font-family: "Karla Regular";
	font-size: 24px;
	line-height: 28px;
}

.form-choices .form-input {
	display: flex;
	align-items: flex-start;
	justify-content: center;
	flex-direction: column;
	width: 65%;
}

.form-choices .form-input input {
	margin-right: 17px;
}

.form-list {
	display: flex;
	align-items: center;
	justify-content: flex-start;
	text-align: left;
	margin: 18px 0px;
}

.form-input label {
	font-size: 24px;
	font-weight: 500;
	line-height: 28px;
}

.form-list .input-form {
	display: flex;
	align-items: flex-start;
	justify-content: flex-start;
}