.form-container {
	background-color: #F4F4F4;
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
	font-family: "Karla Medium";
	width: 75%;
	display: flex;
	align-items: center;
	justify-content: space-evenly;
	flex-direction: column;
	padding: 87px 0px;
}

.form-container .category-title {
	margin: 0;
	margin-bottom: 45px;
}

.form-container .subtitle {
	font-weight: 500;
	font-size: 28px;
	line-height: 33px;
	margin: 0;
	margin-bottom: 37px;
}

.form-container .fields {
	color: #010E88;
	font-weight: 700;
	font-size: 18px;
	line-height: 21px;
}

.form-container .forms {
	margin-top: 37px;
	display: flex;
	align-items: flex-start;
	justify-content: center;
	flex-direction: column;
}

.form-container .forms .form {
	margin-bottom: 42px;
	width: 75%;
}

.choice-select {
	display: flex;
	align-items: center;
	justify-content: center;
	margin-bottom: 46px;
}

.form-button {
	text-transform: uppercase;
	background: #E51E31;
	border-radius: 30px;
	border: none;
	color: white;
	padding: 9px 114px;
	font-family: 'Karla Medium';
	font-style: normal;
	font-weight: 500;
	font-size: 36px;
	line-height: 42px;
	margin-top: 55px;
	cursor: pointer;
	transition: 0.3s ease-in-out;
	border: solid 2px transparent;
}

.form-button:hover {
	border: solid 2px #E51E31;
	background-color: white;
	color: black;
}