@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "DosisRegular";
  src: url("/fonts/dosis/dosis-v26-latin-regular.woff") format("woff"),
    url("/fonts/dosis/dosis-v26-latin-regular.woff2") format("woff2");
  font-weight: normal;
}

@font-face {
  font-family: "DosisBold";
  src: url("/fonts/dosis/dosis-v26-latin-700.woff") format("woff"),
    url("/fonts/dosis/dosis-v26-latin-700.woff2") format("woff2");
  font-weight: bold;
}

@font-face {
  font-family: "DosisMedium";
  src: url("/fonts/dosis/dosis-v26-latin-500.woff") format("woff"),
    url("/fonts/dosis/dosis-v26-latin-500.woff2") format("woff2");
  font-weight: bold;
}

@font-face {
  font-family: "DosisSemiBold";
  src: url("/fonts/dosis/dosis-v26-latin-600.woff") format("woff"),
    url("/fonts/dosis/dosis-v26-latin-600.woff2") format("woff2");
  font-weight: bold;
}

@font-face {
  font-family: "KarlaRegular";
  src: url("/fonts/karla/karla-v22-latin-regular.woff") format("woff"),
    url("/fonts/karla/karla-v22-latin-regular.woff2") format("woff2");
  font-weight: normal;
}

@font-face {
  font-family: "KarlaBold";
  src: url("/fonts/karla/karla-v22-latin-700.woff") format("woff"),
    url("/fonts/karla/karla-v22-latin-700.woff2") format("woff2");
  font-weight: bold;
}

@font-face {
  font-family: "KarlaSemiBold";
  src: url("/fonts/karla/karla-v22-latin-600.woff") format("woff"),
    url("/fonts/karla/karla-v22-latin-600.woff2") format("woff2");
}
@font-face {
  font-family: "KarlaMedium";
  src: url("/fonts/karla/karla-v22-latin-500.woff") format("woff"),
    url("/fonts/karla/karla-v22-latin-500.woff2") format("woff2");
  font-size: 500;
}

html,body {
  @apply text-primary-2 font-KarlaMedium lg:text-[20px] bg-default;
}

html{
  font-size: 62.5%;
}

body {
  font-size: 2rem;
}

* {
  line-height: 150%;
}

h1 {
  @apply font-DosisBold text-[36px] lg:text-[48px] leading-[46px] lg:leading-[61px];
}

h2 {
  @apply font-DosisSemiBold text-[34px] lg:text-[36px];
}

h3 {
  @apply font-KarlaRegular lg:font-KarlaMedium text-[30px] lg:text-[30px] leading-[28px] lg:leading-[33px];
}

h4 {
  @apply font-KarlaRegular lg:font-KarlaMedium text-[26px] lg:text-[24px];
}

b,
strong {
  @apply font-KarlaBold text-[24px] lg:text-[22px];
}

.detail {
  @apply font-KarlaMedium text-[14px] lg:text-[18px];
}

p,ul,ol {
  @apply font-KarlaMedium text-[18px] lg:text-[20px];
}

.markdown p{
  @apply mb-[2rem];
}

a{
  @apply cursor-pointer;
}

a:hover,
a:focus,
a:active {
  @apply text-primary-2 no-underline;
}

a:hover .arrow {
  @apply translate-x-[10px];
}

.arrowLink p{
  @apply mb-[0px];
}

.buttonPrimary1 {
  @apply border-primary-1 
  text-white 
  bg-primary-1;
}

.button {
  @apply border-[2px] inline-block px-[32px] py-[7px] transition duration-300 ease-in-out
}

.buttonRounded {
  @apply rounded-full;
}

.buttonSquared{
  @apply rounded-none;
}

.buttonSecondary2 {
  @apply border-secondary-2 
  text-white 
  bg-secondary-2;
}


.buttonFull {
  @apply hover:bg-transparent 
  hover:text-primary-2;
}

.buttonOutlined {
  @apply bg-transparent
  text-primary-2
}

.buttonInverted {
  @apply border-transparent
  bg-transparent 
  text-primary-2;
}

.buttonPrimary1.buttonOutlined, .buttonPrimary1.buttonInverted{
  @apply hover:bg-primary-1 hover:text-white;
}

.buttonPrimary1.buttonInverted{
  @apply hover:border-[2px] hover:border-primary-1;
}

.buttonSecondary2.buttonOutlined, .buttonSecondary2.buttonInverted{
  @apply hover:bg-secondary-2 hover:text-white;
}

.buttonSecondary2.buttonInverted{
  @apply hover:border-[2px] hover:border-secondary-2;
}

.wrapper {
  max-width: 128rem;
  margin: 0 auto;
  padding: 0 2rem;
}

.paddingCustomImage{
  width: calc(100% - 10px);
}


.markdown ol,
.markdown ul {
  @apply mt-[20px] pl-[20px] lg:pl-[30px];
}

.markdown ul {
  list-style-type: disc;
}

.markdown ol {
  list-style-type: decimal;
}

.markdown ul li {
  @apply my-[2.5rem];
}

.max-3-lines {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 3; /* number of lines to show */
  -webkit-box-orient: vertical;
}

section,.section{
  @apply mt-[100px] mb-[137px] flex flex-col gap-y-[72px];
}

